<!DOCTYPE HTML>
<html>
  <head>
  <script src="/app/assets/javascripts/gmaps.js"></script>
  </head>
  <body>
  	<% if flash[:notice] %>
  		<div id='flash' class='notice'>
  			<%= flash[:notice] %>
  		</div>
  	<% end %>
    <%= yield %>
  </body>
</html>