<!DOCTYPE HTML>
<html>
  <head>
  </head>
  <body>
  <header>
    <a href="/">Oodls</a>    
  </header>
    <% if current_user %>
      Welcome <a href='/charity/home'><%=current_user.organisation %></a>
	    <form id='log-out' method='get' action='/charity/signout'>
		    <input type='hidden' name='_method' value='delete'>
		    <input type='submit' value='Sign out' class='button'>
	    </form>
    <% end %>

  	<% if flash[:notice] %>
  		<div id='flash' class='notice'>
  			<%= flash[:notice] %>
  		</div>
  	<% end %>
    <%= yield %>
  </body>
</html>
