<div id='new-listing-form'>
	<form action='/listings' method='post'>
		Donation Centre Address: <input type='text' name='address'>
		Donation Centre Postcode: <input type='text' name='postcode'>
		Email: <input type='text' name='email'>
		Weekday Opening Hours: <input type='text' name='weekday_hours'>
		Weekend Opening Hours: <input type='text' name='weekend_hours'>
		<input type='submit' value='Create listing'>
	</form>
</div>

