<div id='charity-signup'>
	<form action='/charity' method='post'>
		Organisation: <input type='text' name='organisation'>
		Contact Name: <input type='text' name='contact_name'>
		Email: <input type='text' name='email'>
		Password: <input type='password' name='password'>
		Password Confirmation: <input type='password' name='password_confirmation'>
		<input type='submit' value='Sign up'>
	</form>
</div>
