<% if !current_user %>
  <form action='/charity/signin' method='post'>
    Email: <input type='text' name='email' placeholder='Email'><br>
    Password: <input type='password' name='password' placeholder='Password'><br>
    <input type='submit' value='Sign in'>
  </form>
  or
  <a href="/charity/signup">Sign up</a>
<% end %>
