Please enter your account email to request a password reset.
<div id='request-token'>
	<form action='/charity/request_token' method='post'>
		Email: <input type='text' name='email'>
		<input type='submit' value='Send request'>
	</form>
</div>

