<div id='reset-password'>
	<form action='/charity/reset_password' method='post'>
		Password: <input type='password' name='password'>
		Password Confirmation: <input type='password' name='password_confirmation'>
    <input type='hidden' name='token' value=<%= @token %>>
		<input type='submit' value='Save'>
	</form>
</div>

